// color
$cv-color-green: #50FF44;
$cv-color-gary1: #F2F2F2;
$cv-color-gary2: rgba(0,0,0,0.80);
$cv-color-gary3: rgba(0,0,0,0.10);
$cv-color-gary4: rgba(255,255,255,0.20);

// font
$cv-font-logo: italic bold 36px 'Roboto Bold Italic', sans-serif;
$cv-font-title: normal bold 36px 'Roboto Bold', sans-serif;
$cv-font-title2: normal bold 24px 'Roboto Bold', sans-serif;
$cv-font-title3: normal bold 20px 'Roboto Medium', sans-serif;
$cv-font-subtitle: normal bold 16px 'Roboto Medium', sans-serif;
$cv-font-paragraph: normal normal 16px 'Roboto', sans-serif;
$cv-font-lable: normal bold 14px 'Roboto Bold', sans-serif;