.cv_bright {
    .cv-nabar-header {
        background-color: $black;
    }

    &.cv_navbar {
        .title {
            color: $cv-color-green;
        }
    }

    &.cv_reader {
        background-color: $cv-color-gary1;
        .cv_reader_subject {
            color: $black;
        }

        .cv_reader_caret {
            color:  $cv-color-gary3;
        }

        .cv_page_changer {
            color: $black;
            &:hover {
                color: $cv-color-green;
                background-color: $black;
            }
        }

        .cv_switcher_icon {
            color: $black;
        }

        .cv_switcher_toggle {
            border: 2px solid $black;
        }

        ::-webkit-scrollbar {
            height: 20px;
            background-color: $white;
            border: 4px solid $black;
        }

        ::-webkit-scrollbar-thumb {
            border: 4px solid $black;
            background-color: $black;
            background-clip: padding-box;
        }

        .cv_previewer_page {
            color: $black;
        }

        .cv_previewer_active_top {
            border-color: transparent transparent $black;
        }

        .cv_previewer_img {
            &.active {
                border: 3px $black solid;
            }
        }
        
    }

}