.cv_dark {
    .cv-nabar-header {
        background-color: $cv-color-green;
    }

    &.cv_navbar {
        .title {
            color: $black;
        }
    }

    &.cv_reader {
        background-color: $black;
        .cv_reader_subject {
            color: $white;
        }

        .cv_reader_caret {
            color:  $white;
        }

        .cv_page_changer {
            color: $white;
            &:hover {
                color: $black;
                background-color: $cv-color-green;
            }
        }

        .cv_switcher_icon {
            color: $white;
        }

        .cv_switcher_toggle {
            border: 2px solid $white;
        }

        ::-webkit-scrollbar {
            height: 20px;
            background-color: $black;
            border: 4px solid $white;
        }

        ::-webkit-scrollbar-thumb {
            border: 4px solid $white;
            background-color: $white;
            background-clip: padding-box;
        }

        .cv_previewer_page {
            color: $white;
        }

        .cv_previewer_active_top {
            border-color: transparent transparent $cv-color-green;
        }

        .cv_previewer_img {
            &.active {
                border: 3px $cv-color-green solid;
            }
        }

        .cv_previewer_nextChapter:hover {
            background-color: $cv-color-green;
        }

    }

}